# Dependencies
**/*/node_modules
node_modules
package-lock.json

# Build outputs
dist
dist-ssr
**/dist.tar.gz
lib
**/*/lib
.tsbuild
*.tsbuildinfo

# IDE and OS files
.DS_Store
.idea
*.local
**/*/cache
**/*/.cache

# Documentation files
# /*.md
# smartmontools.md
# zsh_history.md
# **/pages/page*.md

# Theme files
origin_theme.css

# local workspace
local-workspace

# Test and coverage outputs
test-results
coverage

# for test docs
testbed/test/*
testbed/blogs/test/*
test.log
**/*/test.log

# cache
cache
./cache
**/*/__pycache__

# ai_dev
.codex
.claude
.cursor
.ai_dev*
packages/vitepress-plugin-analyzer/coverage/

# local bookmark
**/*/bookmarks.json
**/*/bookmark.json

# local
.local_*
