# Dependencies
**/*/node_modules
node_modules
package-lock.json

# Build outputs
dist
dist-ssr
**/dist.tar.gz
lib
**/*/lib

# IDE and OS files
.DS_Store
.idea
*.local
**/*/cache
**/*/.cache

# Documentation files
/*.md
smartmontools.md
zsh_history.md
**/pages/page*.md

# Theme files
origin_theme.css

# local workspace
local-workspace

# for test docs
docs/test/*
docs/blogs/test/*
test.log
**/*/test.log

# cache
cache
./cache