# Dependencies
node_modules
package-lock.json
pnpm-lock.yaml

# Build outputs
dist
dist-ssr
**/dist.tar.gz

# IDE and OS files
.DS_Store
.idea
*.local
.vitepress/cache

# Documentation files
/*.md
smartmontools.md
zsh_history.md
**/pages/page*.md

# Theme files
origin_theme.css