:root {
  --vp-c-bg: #fafafa;
  --vp-c-brand: #4259f3;
  --vp-c-brand-1: #42a903;
  --vp-c-text-1: #222;
  --vp-button-brand-bg: #129083;
  --c-text-code: #305fef;
  --c-text-strong: #f00;
  --c-text-em: #0000ff;
  --vp-sidebar-bg-color: #f3f3f3;
}

.dark {
  --vp-c-bg: #202127;
  --vp-c-brand: #94fe00ff;
  --vp-c-brand-1: #fb9300ff;
  --vp-c-text-1: #ccccccff;
  --vp-button-brand-bg: #f2b983;
  --c-text-code: #00ff00;
  --c-text-strong: #ff0000;
  --c-text-em: #00ffff;
  --vp-sidebar-bg-color: #181922;
}