:root {
  --vp-c-bg: #fafafa !important;
  --vp-c-brand: #4259f3 !important;
  --vp-c-brand-1: #4269b3 !important;
  --vp-button-brand-bg: #129083 !important;
  --c-text-code: #205faf !important;
  --c-text-strong: #ff0000 !important;
  --c-text-em: #0000ff !important;
}

.dark {
  --vp-c-bg: #020405 !important;
  --vp-c-brand: #42b983 !important;
  --vp-c-brand-1: #4269b3 !important;
  --vp-button-brand-bg: #f2b983 !important;
  --c-text-code: #00ff00 !important;
  --c-text-strong: #ff0000 !important;
  --c-text-em: #00ffff !important;
}