// @import 'heti/umd/heti.min.css';

.VPDoc {
  .main {
    &.heti .meta-des {
      a {
        text-decoration: none;
        &:hover {
          text-decoration: none;
        }
      }
    }

    &.heti .footnote-ref {
      a {
        text-decoration: none;
        &:hover {
          text-decoration: none;
        }
      }
    }

    &.heti .vp-doc {
      mark {
        background-color: #fef08a;
        .dark & {
          background-color: #fde047;
          color: #060606;
        }
      }
      hr {
        margin: 16px 10px 16px 10px;
        width: 100%;
        background-color: var(--vp-c-divider);
      }

      a.blog-tag {
        text-decoration: none;
        &:hover {
          text-decoration: none;
        }
      }
    }

    &.heti .mermaid {
      margin-block-start: 0rem;
      margin-block-end: 0rem;
      margin-inline-start: 0rem;
      margin-inline-end: 0rem;
      padding-block-start: 0rem;
      padding-block-end: 0rem;
      padding-inline-start: 0rem;
      padding-inline-end: 0rem;
    }

    &.heti .vp-doc blockquote {
      margin-block-start: 1rem;
      margin-block-end: 1rem;
      margin-inline-start: 0rem;
      margin-inline-end: 0rem;
      padding-block-start: 0rem;
      padding-block-end: 0rem;
      padding-inline-start: 0.5rem;
      padding-inline-end: 0rem;
      border-left: 0px solid var(--vp-c-divider);

      blockquote {
        margin-top: 0.5rem;
        margin-left: 1rem;
      }

      p {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        text-indent: 0.5rem;
      }
    }
  }
}
