/* for homepage */
:root {
  --main-page-bg: #f0f0f0;
  --main-page-text: #050505;
  --main-page-from: #222222;
  --main-page-to: #585858;
  --main-page-menu: #525861;
  --main-page-appearance: #e0e0e0;
}

.dark {
  --main-page-bg: #050505;
  --main-page-text: #f0f0f0;
  --main-page-from: #f0f0f0;
  --main-page-to: #575757;
  --main-page-menu: #969ba6;
  --main-page-appearance: #222222;
}

/* theme reset start */
h1 {
  @apply text-[1.6rem] font-800 -ml-4;
  @apply color-[--vp-c-brand];
}

h2 {
  @apply text-[1.4rem] font-700 pb-1;
  /* border-bottom: 1px solid var(--vp-c-brand) !important; */
  margin: 0px 0px 8px -8px !important;
}

h3 {
  @apply text-[1.2rem] font-600;
  margin: 18px 0px 0px -4px !important;
}

.vp-doc a {
  @apply text-[--vp-c-text-1] no-underline;
}

.vp-doc .meta-des ~ * a {
  @apply text-[--vp-c-brand-1] no-underline;
  @apply hover:underline;
}

/************** image ************/
@screen lg {
  .main img {
    @apply max-w-[600px] object-contain my-1.5 mx-auto;
  }

  .main img[alt*='|xs'] {
    @apply w-[300px];
  }

  .main img[alt*='|s'] {
    @apply w-[400px];
  }

  .main img[alt*='|m'] {
    @apply w-[500px];
  }

  .main img[alt*='|l'] {
    @apply w-[600px];
  }

  .main img[alt*='|xl'] {
    @apply w-[800px];
  }
}

/* custom */
.vp-doc strong {
  @apply text-[--c-text-strong] mx-0.5;
}

.vp-doc em {
  @apply text-[--c-text-em] mx-0.5;
}

.vp-doc :not(pre, div) > code {
  @apply text-[--c-text-code] mx-0.5;
}

/* hero */
@keyframes flow {
  0% {
    @apply bg-[length:100%_100%] bg-[position:0%_50%] rounded-[50%];
  }
  20% {
    @apply bg-[length:150%_150%] bg-[position:100%_50%] rounded-[45%];
  }
  40% {
    @apply bg-[length:200%_200%] bg-[position:100%_50%] rounded-[40%];
  }
  60% {
    @apply bg-[length:150%_150%] bg-[position:100%_50%] rounded-[40%];
  }
  80% {
    @apply bg-[length:100%_100%] bg-[position:50%_100%] rounded-[45%];
  }
  100% {
    @apply bg-[length:100%_100%] bg-[position:0%_100%] rounded-[50%];
  }
}

:root {
  --vp-home-hero-name-color: transparent !important;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    355deg,
    var(--vp-c-brand),
    var(--vp-c-brand-1)
  ) !important;
  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    var(--vp-c-brand),
    var(--vp-c-brand-1)
  ) !important;
  --vp-home-hero-image-filter: blur(70px) !important;
  --vp-home-hero-image-animation: flow 4s ease infinite !important;
}

.VPHero .image-bg {
  @apply mt-0 ml-0;
  background: var(--vp-home-hero-image-background-image);
  animation: var(--vp-home-hero-image-animation);
}

.VPHero .image-src {
  @apply invisible;
}

.VPHero .container .name {
  @apply 'important:mt-[90px]';
}

.VPHero .container .name .clip {
  @apply text-[3.4rem] font-700;
}

.VPHero .main .tagline {
  @apply text-[1.2rem] font-bold;
}

.VPFeatures .items .item {
  @apply mt-[5%];
}

.VPFeatures .VPLink {
  @apply border border-solid border-[--vp-c-text-1];
  @apply rounded-md p-1 m-1 box-border relative;
}

.VPFeatures .VPLink:hover {
  @apply m-0.75 border-2 border-solid border-[--vp-c-text-1];
}

.VPFeatures .items .item .box .details {
  @apply mt-[3%] indent-[5%];
}

.VPFeatures .VPLink .title {
  @apply font-800 text-[1.3rem] text-[--vp-c-brand];
}

/* medium zoom */
.medium-zoom-overlay,
.medium-zoom-image--opened {
  z-index: 999;
}

/* dark mode transition */
::view-transition-old(root),
::view-transition-new(root) {
  @apply animate-none;
  mix-blend-mode: normal;
}

::view-transition-old(root),
.dark::view-transition-new(root) {
  @apply z-1;
}

::view-transition-new(root),
.dark::view-transition-old(root) {
  @apply z-[9999];
}

.VPSwitchAppearance {
  width: 22px !important;
}

.VPSwitchAppearance .check {
  transform: none !important;
}

/* for vp sidebar hidden button */
.VPSidebar.hidden {
  display: none !important;
}

.clear-layout {
  --toggle-button-width: 40px;
}

.clear-layout.sidebar-hidden .VPContent.has-sidebar {
  padding-left: var(--toggle-button-width) !important;
}

/* for wikilinks */
.VPDoc .main .vp-doc .clear-wikilink {
  @apply text-[var(--vp-c-brand-1)] whitespace-normal px-[1px] relative;
}

.VPDoc .main .vp-doc .clear-wikilink::before {
  content: '[[';
  @apply pr-[1px];
}

.VPDoc .main .vp-doc .clear-wikilink::after {
  content: ']]';
  @apply pl-[1px];
}
