/* theme reset start */
h1 {
  font-size: 1.6rem !important;
  font-weight: 800 !important;
  margin-left: -8px !important;
}

h2 {
  font-size: 1.4rem !important;
  font-weight: 700 !important;
  /* border-bottom: 1px solid var(--vp-c-divider); */
  border-top: none !important;
  margin: inherit !important;
  margin-left: -6px !important;
}

h3 {
  font-size: 1.2rem !important;
  margin-top: 12px !important;
  font-weight: 600 !important;
}

/* mix-blend-mode: difference; */
.vp-doc a {
  color: var(--vp-c-text-1);
  font-weight: 500;
  text-decoration: none;
}

.vp-doc a:hover {
  color: var(--vp-c-brand);
}

.vp-doc p {
  font-size: 0.9375rem;
}

/*color: var(--vp-c-text-1);*/
/* text-transform: uppercase; */
/* font-family: var(--vp-font-family-base); */

/* .content a[rel~='noreferrer']:link,
a[rel~='noreferrer']:visited {
  color: var(--vp-c-brand);
  font-weight: 500 !important;
  border-bottom: 1px solid var(--vp-c-brand);
}
.content a[rel~='noreferrer']:hover {
  color: #888;
} */

/************** image ************/
@media (min-width: 960px) {
  .main img {
    max-width: 600px;
    object-fit: contain;
    margin: 6px auto;
  }

  .main img[alt*='|xs'] {
    width: 300px;
  }

  .main img[alt*='|s'] {
    width: 400px;
  }

  .main img[alt*='|m'] {
    width: 500px;
  }

  .main img[alt*='|l'] {
    width: 600px;
  }

  .main img[alt*='|xl'] {
    width: 800px;
  }
}

/* custom */
.vp-doc strong {
  color: var(--c-text-strong);
  margin: 0 2px;
}

.vp-doc em {
  color: var(--c-text-em);
  margin: 0 2px;
}

.vp-doc :not(pre, div) > code {
  color: var(--c-text-code);
  margin: 0 2px;
}

/* hero */
@keyframes flow {
  0% {
    background-size: 100% 100%;
    background-position: 0% 50%;
    border-radius: 50%;
  }
  20% {
    background-size: 150% 150%;
    background-position: 100% 50%;
    border-radius: 45%;
  }
  40% {
    background-size: 200% 200%;
    background-position: 100% 50%;
    border-radius: 40%;
  }
  60% {
    background-size: 150% 150%;
    background-position: 100% 50%;
    border-radius: 40%;
  }
  80% {
    background-size: 100% 100%;
    background-position: 50% 100%;
    border-radius: 45%;
  }
  100% {
    background-size: 100% 100%;
    background-position: 0% 100%;
    border-radius: 50%;
  }
}

:root {
  --vp-home-hero-name-color: transparent !important;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    355deg,
    var(--vp-c-brand),
    var(--vp-c-brand-1)
  ) !important;
  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    var(--vp-c-brand),
    var(--vp-c-brand-1)
  ) !important;
  --vp-home-hero-image-filter: blur(70px) !important;
  --vp-home-hero-image-animation: flow 4s ease infinite !important;
}

.VPHero .image-bg {
  margin-top: 0%;
  margin-left: 0%;
  background: var(--vp-home-hero-image-background-image);
  animation: var(--vp-home-hero-image-animation);
}

.VPHero .image-src {
  visibility: hidden;
}

.VPHero .container .name {
  margin-top: 90px !important;
}

.VPHero .container .name .clip {
  font-size: 3.4rem !important;
  font-weight: 700 !important;
}

.VPHero .main .tagline {
  font-size: 1.2rem;
  font-weight: bold;
}

.VPFeatures .items .item {
  margin-top: 5%;
}

.VPFeatures .VPLink {
  border: 1px solid var(--vp-c-text-1);
  border-radius: 6px;
  padding: 4px;
  margin: 4px;
  box-sizing: border-box;
  position: relative;
}

.VPFeatures .VPLink:hover {
  margin: 3px;
  border: 2px solid var(--vp-c-text-1);
}

.VPFeatures .items .item .box .details {
  margin-top: 3%;
  text-indent: 5%;
}

.VPFeatures .VPLink .title {
  font-weight: 800 !important;
  font-size: 1.3rem !important;
  color: var(--vp-c-brand) !important;
}

/* dark mode transition */
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root),
.dark::view-transition-new(root) {
  z-index: 1;
}

::view-transition-new(root),
.dark::view-transition-old(root) {
  z-index: 9999;
}
.VPSwitchAppearance {
  width: 22px !important;
}
.VPSwitchAppearance .check {
  transform: none !important;
}
